[submodule "ros2_ws/src/can"]
	path = ros2_ws/src/can
	url = https://github.com/Geicar-Marcycle/can.git
	branch = main
[submodule "ros2_ws/src/car_control"]
	path = ros2_ws/src/car_control
	url = https://github.com/Geicar-Marcycle/car_control.git
	branch = main
[submodule "ros2_ws/src/carla_msgs"]
	path = ros2_ws/src/carla_msgs
	url = https://github.com/Geicar-Marcycle/carla_msgs.git
	branch = main
[submodule "ros2_ws/src/geicar_start"]
	path = ros2_ws/src/geicar_start
	url = https://github.com/Geicar-Marcycle/geicar_start.git
	branch = main
[submodule "ros2_ws/src/imu_tools"]
	path = ros2_ws/src/imu_tools
	url = https://github.com/Geicar-Marcycle/imu_tools.git
[submodule "ros2_ws/src/interfaces"]
	path = ros2_ws/src/interfaces
	url = https://github.com/Geicar-Marcycle/py-interfaces.git
	branch = main
[submodule "ros2_ws/src/joystick"]
	path = ros2_ws/src/joystick
	url = https://github.com/Geicar-Marcycle/joystick.git
	branch = main
[submodule "ros2_ws/src/simulation"]
	path = ros2_ws/src/simulation
	url = https://github.com/Geicar-Marcycle/simulation.git
	branch = main
[submodule "ros2_ws/src/system_check"]
	path = ros2_ws/src/system_check
	url = https://github.com/Geicar-Marcycle/system_check.git
	branch = main
